{% extends "core/base.html" %}
{% load static %}
{% block title %}Change Password{% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 text-center mb-4">
            <h3 class="text-success">Password Changed Successfully!</h3>
            <p class="lead">Welcome, {{ request.user.username|capfirst }}!</p>
        </div>
        <div class="col-md-3 col-sm-4 text-center mb-3">
            <a href="{% url 'profile' %}" class="btn btn-primary btn-block">Back to Profile</a>
        </div>
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://giphy.com/embed/bg1MQ6IUVoVOM" width="100%" height="auto" class="embed-responsive-item" frameborder="0" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>

<style>
    @media (max-width: 576px) {
        .container {
            padding: 20px 10px;
        }
        h3.text-success {
            font-size: 1.5rem;
        }
        p.lead {
            font-size: 1rem;
        }
        .btn-block {
            width: 100%;
        }
    }
</style>
{% endblock main-content %}
