{% extends "core/base.html" %}
{% load static %}
{% block title %}Reset Password Done{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card shadow-sm border-0">
                <div class="card-body text-center p-5">
                    <h3 class="alert-heading text-success mb-4">Well Done!</h3>
                    <p class="lead">An email has been sent with instructions to reset your password.</p>
                    <p class="mb-0"><b>Please check your email.</b></p>
                    <a href="{% url 'login' %}" class="btn btn-primary mt-4">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
